
header,
footer {
    background-color: #d9d9d9;
}

footer {
    text-align: center;
    padding: 30px 0;
}

p {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
}

#logo {
    width: 120px;
    margin: 30px 0;
    height: auto;
}

.carousel,
.row {
    margin-bottom: 30px;
}

.carousel {
    margin-top: 30px;
}

.carousel {
    max-height: 400px;
    overflow: hidden;
}

.carousel img {
    width: auto;
}

.btn-primary {
    background-color: rgb(0, 51, 255);
}

.btn-primary:hover {
    background-color: rgb(9, 49, 148);
}


.card {
    float: left;
    margin: 15px;
}
